    // ===============================
    // 📝 Walker Quiz Results
    // ===============================
    match /userTests/{userId} {
      allow get, create, update: if request.auth != null && request.auth.uid == userId;
      allow read: if isAdmin();
    }
